.navigation {
  width: 25%;
}
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desactive {
  color: rgba(255, 96, 96, 1);
  text-decoration: none;
  font-size: 24px;
}
.active {
  color: rgba(255, 96, 96, 1);
  text-decoration: none;
  font-size: 24px;
  border-bottom: solid 3px rgba(255, 96, 96, 1);
}
