.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* gestion de la mise en forme pour le composant navigation */
.navigation {
  width: 32vh;
}
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desactive {
  color: rgba(255, 96, 96, 1);
  text-decoration: none;
  font-size: 3vh;
}
.active {
  color: rgba(255, 96, 96, 1);
  text-decoration: none;
  font-size: 3vh;
  border-bottom: solid 0.3vh rgba(255, 96, 96, 1);
}
