.App {
  text-align: center;
  margin: auto;
  width: 73%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* gestion de la mise en forme pour le composant navigation */
.navigation {
  width: 25%;
}
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desactive {
  color: rgba(255, 96, 96, 1);
  text-decoration: none;
  font-size: 1.3em;
}
.active {
  color: rgba(255, 96, 96, 1);
  text-decoration: none;
  font-size: 1.3em;
  border-bottom: solid 0.3vh rgba(255, 96, 96, 1);
}

/* media Querie smartphone */
@media (max-width: 425px) {
  .App {
    width: 90%;
    margin: auto;
  }
  .navigation {
    width: 140px;
  }
  .navHeader a {
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
  }
}
