.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(246, 246, 246, 1);
  width: 157vh;
  border-radius: 10px;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding-top: 3vh;
}
.gallery a {
  text-decoration: none;
}
.logement {
  margin: 3vh;
}
.logement h2 {
  font-size: 2vh;
  position: absolute;
  max-width: 30vh;
  text-align: left;
  padding: 0vh 2vh;
}
.card {
  display: flex;
  align-items: flex-end;
  color: white;
  width: 42vh;
  height: 42vh;
  border-radius: 10px;
  background-position: center;
  opacity: 0.5;
}
.cardBack {
  display: flex;
  align-items: flex-end;
  color: white;
  width: 42vh;
  height: 42vh;
  border-radius: 10px;
  background-position: center;
  background: linear-gradient(181deg, rgb(255 255 255) 0%, rgb(0 0 0) 100%);
}

@media (max-width: 425px) {
  .gallery {
    width: 100%;
    background-color: white;
    margin-top: 0;
    padding-top: 0;
  }
  .logement {
    margin: 0%;
  }
  .cardBack {
    width: 345px;
    height: 260px;
    margin: 3% 0%;
  }
  .card {
    width: 345px;
    height: 260px;
  }
  .logement h2 {
    font-weight: 100;
  }
}
