.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(246, 246, 246, 1);
  width: 94%;
  border-radius: 10px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-top: 3%;
}
.gallery a {
  text-decoration: none;
}
.logement {
  margin: 10px;
}
h2 {
  font-size: 18px;
}
.card {
  display: flex;
  align-items: flex-end;
  color: white;
  width: 340px;
  height: 340px;
  background: linear-gradient(
    180deg,
    rgba(255, 96, 96, 1) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  border-radius: 10px;
}
