.containerSlide {
  margin: 1% auto;
  width: 80vw;
  height: 50vh;
}
.eachSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.arrowLeft {
  position: relative;
  left: 65px;
  font-size: 76px;
  color: white;
}
.arrowLeft svg,
.arrowRight svg {
  width: 3vw;
}
.arrowRight {
  position: relative;
  right: 65px;
  font-size: 76px;
  color: white;
}
.medias {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 25px;
}
.medias img {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  height: 50vh;
  object-position: center;
}
.index {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 13px;
  top: 370px;
}
