/* COLLAPSE LOGEMENT*/
.collapseList {
  margin-bottom: 15%;
  margin-top: 1%;
  padding: 0% 4%;
}
.collapseLoc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4%;
}
.collapseUp {
  width: 520px;
  border-radius: 5px;
}
.collapseUp .collapseClose h2 {
  font-size: 18px;
  font-weight: 100;
  padding: 1%;
}
.collapse {
  margin: 3% 0;
  width: 1023px;
  border-radius: 5px;
}
.collapseClose {
  background: rgba(255, 96, 96, 1);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  position: sticky;
}
.collapseClose h2 {
  color: white;
  font-size: 24px;
  margin: 1%;
}
.collapseOpen {
  display: none;
  background: rgba(246, 246, 246, 1);
  text-align: start;
  padding: 34px 15px;
  border-radius: 5px;
  margin-top: -1%;
}
.collapseOpen p {
  color: rgba(255, 96, 96, 1);
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}
.collapseOpen ul {
  color: rgba(255, 96, 96, 1);
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  list-style-type: none;
}

.icons {
  color: white;
}
.iconUp {
  display: none;
}
