/* COLLAPSE LOGEMENT*/
.collapseList {
  width: 72vw;
  margin: auto;
  margin-top: 4vh;
  padding: 0% 4%;
}
.collapseLoc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4%;
}
.collapseUp {
  width: 45vw;
  border-radius: 5px;
}
.collapseUp .collapseClose h2 {
  font-size: 18px;
  font-weight: 100;
  padding: 1%;
}
.collapse {
  margin: 3% 0;
  width: 72vw;
  border-radius: 5px;
}
.collapseClose {
  height: 2vh;
  background: rgba(255, 96, 96, 1);
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vh;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  position: sticky;
}
.collapseClose h2 {
  color: white;
  font-size: 1em;
  font-weight: 100;
}
.collapseOpen,
.collapseOpenDown {
  display: none;
  background: rgba(246, 246, 246, 1);
  text-align: start;
  padding: 34px 15px;
  border-radius: 5px;
  margin-top: -1%;
}
.collapseOpen p {
  color: rgba(255, 96, 96, 1);
  margin: 0;
  line-height: 150%;
}
.collapseOpenDown p {
  color: rgba(255, 96, 96, 1);
  margin: 0;
  line-height: 150%;
  font-size: 1.4em;
}
.collapseOpen ul {
  color: rgba(255, 96, 96, 1);
  margin: 0;
  padding-left: 0%;
  line-height: 150%;
  list-style-type: none;
}

.icons {
  color: white;
  padding-right: 2vh;
}
.iconUp {
  display: none;
}
@media (max-width: 425px) {
  .collapseList {
    width: 100%;
    margin-top: 0;
    padding: 0%;
  }
  .collapseLoc {
    align-items: center;
    flex-direction: column;
  }
  .collapseUp {
    width: 92%;
    margin-top: 6%;
  }
  .collapseUp .collapseClose h2 {
    font-size: 14px;
  }
  .collapseLocBis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }
  .collapse {
    width: 92%;
    margin-top: 6%;
    margin-bottom: 0%;
  }
  .collapseClose {
    padding: 3% 1vh;
    font-size: 18px;
  }
  .collapseClose h2 {
    font-size: 14px;
  }
  .collapseOpen,
  .collapseOpenDown {
    padding: 16px 15px;
  }
  .collapseOpenDown p {
    font-size: 17px;
  }
  .icons {
    padding-right: 0vh;
  }
}
