.collapseList {
  margin-bottom: 15%;
  margin-top: 5%;
}
.collapse {
  margin: 1% auto;
  width: 1023px;
  border-radius: 5px;
}
.collapseClose {
  background: rgba(255, 96, 96, 1);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  position: sticky;
}
.collapseClose h2 {
  color: white;
  font-size: 24px;
  margin: 1%;
}
.collapseOpen {
  display: none;
  background: rgba(246, 246, 246, 1);
  text-align: start;
  padding: 34px 15px;
  border-radius: 5px;
  margin-top: -1%;
}
.collapseOpen p {
  color: rgba(255, 96, 96, 1);
  margin: 0;
  font-size: 24px;
  line-height: 150%;
}
.icons {
  color: white;
}
.iconUpFiability {
  display: none;
}
.iconUpRespect {
  display: none;
}
.iconUpService {
  display: none;
}
.iconUpResponsability {
  display: none;
}
