.errorPage {
  margin-bottom: 6%;
  margin-top: 7%;
}
.errorPage h1 {
  font-size: 35vh;
  color: rgba(255, 96, 96, 1);
  margin: 0;
}
.errorPage h2 {
  color: rgba(255, 96, 96, 1);
  margin-bottom: 7%;
}
.errorPage a {
  color: rgba(255, 96, 96, 1);
}
