.header {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 157vh;
}
.header img {
  margin: 1vh;
}
/* media Querie smartphone */
@media (max-width: 425px) {
  .header {
    width: auto;
  }
  .header img {
    width: 37vw;
  }
}
