/* ZONE INFOS */
.informations {
  width: 78vw;
  margin: 0% auto;
}
.infosZone {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
}
/* BLOC INFO LOC */
.blocLeft {
  text-align: start;
}
.titleZone {
  color: rgb(255, 96, 96, 1);
}
.titleZone h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0%;
  margin-bottom: 1%;
}
.locationZone {
  color: rgb(255, 96, 96, 1);
}
.locationZone {
  margin-top: 0%;
}
.locationZone h2 {
  font-size: 1em;
  font-weight: 500;
}
.tagZone {
  margin-top: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}
.tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 96, 96, 1);
  width: 131px;
  height: 25px;
  color: white;
  border-radius: 10px;
}
.tag p {
  margin: 0%;
  font-size: 12px;
  padding: 2%;
}
/* BLOC HOST & RATING */
/* BLOC HOST */
.hostZone {
  display: flex;
  align-items: center;
  gap: 5%;
}
.name {
  width: 8vw;
}
.name h2 {
  color: rgb(255, 96, 96, 1);
  font-weight: 200;
  font-size: 1.3em;
  margin: 0;
  text-align: end;
}
.image img {
  border-radius: 50%;
  width: 68px;
}
/* BLOC RANKING */
.ratingZone {
  margin-top: 4vh;
}
.stars {
  gap: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 425px) {
  .informations {
    width: 100%;
  }
  .infosZone {
    flex-direction: column;
  }
  .titleZone h1 {
    font-size: 22px;
  }
  .locationZone h2 {
    font-size: 13px;
  }
  .tagZone {
    margin-top: 2vh;
  }
  .tag {
    width: 100px;
    height: 23px;
    border-radius: 5px;
  }
  .tag p {
    font-size: 10px;
  }
  .blocRight {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
  }
  .name {
    width: 21vw;
  }
  .name h2 {
    font-size: 12px;
  }
  .image img {
    width: 47px;
  }
  .ratingZone {
    margin-top: 0;
  }
  .stars img {
    width: 19px;
  }
}
