/* ZONE INFOS */
.infosZone {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
}
/* BLOC INFO LOC */
.blocLeft {
  text-align: start;
}
.titleZone {
  color: rgb(255, 96, 96, 1);
}
.titleZone h1 {
  font-weight: 500;
  margin-top: 0%;
  margin-bottom: 1%;
}
.locationZone {
  color: rgb(255, 96, 96, 1);
}
.locationZone {
  margin-top: 0%;
}
.locationZone h2 {
  font-weight: 500;
}
.tagZone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}
.tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 96, 96, 1);
  width: 121px;
  height: 25px;
  color: white;
  border-radius: 10px;
}
.tag p {
  margin: 0%;
  font-size: 12px;
  padding: 2%;
}
/* BLOC HOST & RATING */
/* BLOC HOST */
.hostZone {
  display: flex;
  align-items: center;
  gap: 5%;
}
.name {
  width: 114px;
}
.name h2 {
  color: rgb(255, 96, 96, 1);
  font-weight: 200;
  font-size: 24px;
  margin: 0;
  text-align: end;
}
.image img {
  border-radius: 50%;
  width: 70px;
}
/* BLOC RANKING */
.ratingZone {
  margin-top: 8%;
}
.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
